.auth-form{
    max-width: 358px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
}

@media screen and (max-width: 440px) {
    .auth-form {
        max-width: 260px;
        padding: 0 30px;
    }
    
}